@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --info-noty-bg-color: #F5F9FF;
    --info-noty-border-color: #4DCAFF;

    --error-noty-bg-color: #FFF5F3;
    --error-noty-border-color: #F56A57;

    --success-noty-bg-color: #F6FFF9;
    --success-noty-border-color: #54D680;

    --warning-noty-bg-color: #FFF8EC;
    --warning-noty-border-color: #EFBA53;
}

.mm-notifies-wrapper,
.mm-notifies-wrapper * {
    box-sizing: border-box;
}

.mm-notifies-wrapper.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}
@media screen and (max-width: 992px) {
    .mm-notifies-wrapper.fixed {
        padding-top: 60px;

        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 60px;
    }
}

.mm-notifies-wrapper.fixed .mm-notifies__column-wrapper {
    position: absolute;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;

    padding: 20px;

    /*--- FireFox ---*/
    scrollbar-color: rgba(0,0,0,0.9) rgba(0,0,0,0.3); /* «цвет ползунка» «цвет полосы скроллбара» */
    scrollbar-width: auto  /* толщина */
}

/* Остальные нормальные браузеры */
.mm-notifies-wrapper.fixed .mm-notifies__column-wrapper::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 10px; /* высота для горизонтального скролла */
    background-color: rgba(0,0,0,0.4);
    border-radius: 9em;
}
.mm-notifies-wrapper.fixed .mm-notifies__column-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.6);
    border-radius: 9em;
}

.mm-notifies-wrapper.fixed .mm-notifies__column-wrapper.right {
    align-items: flex-end;
}
@media screen and (max-width: 992px) {
    .mm-notifies-wrapper.fixed .mm-notifies__column-wrapper {
        position: static;
        max-height: unset;
        overflow: visible;
    }

    .mm-notifies-wrapper.fixed .mm-notifies__column-wrapper:not(:last-of-type) {
        margin-bottom: 15px;
    }

    .mm-notifies-wrapper.fixed .mm-notifies__column-wrapper,
    .mm-notifies-wrapper.fixed .mm-notifies__column-wrapper.right {
        align-items: center;
        padding: 0 20px;
    }
}

.mm-notifies-wrapper.fixed .top.left {
    right: unset;
    left: 20px;
    top: 20px;
}
.mm-notifies-wrapper.fixed .bottom.left {
    top: unset;
    right: unset;
    left: 20px;
    bottom: 20px;
}

.mm-notifies-wrapper.fixed .top.right {
    top: 20px;
    right: 20px;
    left: unset;
}
.mm-notifies-wrapper.fixed .bottom.right {
    top: unset;
    right: 20px;
    bottom: 20px;
}


.mm-notify {
    pointer-events: all;

    color: #000;

    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 16px;

    padding: 20px;

    border-radius: 12px;
    border-width: 1px;
    border-style: solid;

    box-shadow: 0 4px 16px 0 rgba(16, 11, 39, 0.08);

    transition: opacity .5s, transform .5s;
    will-change: transform;
}
.mm-notifies__column-wrapper.right .mm-notify {
    animation: notifyShowEffect 0.3s ease-in-out;
}
.mm-notifies__column-wrapper.left .mm-notify {
    animation: notifyShowEffectToRight 0.3s ease-in-out;
}
@media screen and (max-width: 1200px) {
    .mm-notify {
        max-width: 420px;
    }
}
@media screen and (max-width: 992px) {
    .mm-notify {
        max-width: 768px;
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .mm-notifies__column-wrapper.right .mm-notify,
    .mm-notifies__column-wrapper.left .mm-notify {
        animation: notifyShowEffect 0.3s ease-in-out;
    }
}

@keyframes notifyShowEffect {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes notifyShowEffectToRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@media screen and (max-width: 768px) {
    @keyframes notifyShowEffect {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.mm-notify.closing {
    opacity: 0;
}
.mm-notifies__column-wrapper.right .mm-notify.closing {
    transform: translateX(100%);
}
.mm-notifies__column-wrapper.left .mm-notify.closing {
    transform: translateX(-100%);
}
@media screen and (max-width: 768px) {
    .mm-notifies__column-wrapper.right .mm-notify.closing,
    .mm-notifies__column-wrapper.left .mm-notify.closing
    {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.mm-notifies-wrapper .mm-notify:not(:last-child) {
    margin-bottom: 25px;
}
@media screen and (max-width: 992px) {
    .mm-notifies-wrapper .mm-notify:not(:last-child) {
        margin-bottom: 15px;
    }
}

.mm-notify.error {
    background-color: var(--error-noty-bg-color);
    border-color: var(--error-noty-border-color);
}
.mm-notify.info {
    background-color: var(--info-noty-bg-color);
    border-color: var(--info-noty-border-color);
}
.mm-notify.success {
    background-color: var(--success-noty-bg-color);
    border-color: var(--success-noty-border-color);
}
.mm-notify.warning {
    background-color: var(--warning-noty-bg-color);
    border-color: var(--warning-noty-border-color);
}

.mm-notify.filled {
    color: #fff;
}
.mm-notify.error.filled {
    background-color: var(--error-noty-border-color);
}
.mm-notify.info.filled {
    background-color: var(--info-noty-border-color);
}
.mm-notify.success.filled {
    background-color: var(--success-noty-border-color);
}
.mm-notify.warning.filled {
    background-color: var(--warning-noty-border-color);
}

.mm-notify__icon {
    width: 24px;
    height: 24px;

    user-select: none;
}

.mm-notify__text-wrapper {
    max-width: 313px;
}

.mm-notify__title {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;

    margin: 0;
}

.mm-notify__description {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;

    margin: 4px 0 0;
}

.mm-notify__callback-btn {
    border-radius: 6px;
    border: 1px solid #979FA9;
    background-color: #FFF;

    padding: 10px 12px;

    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;

    cursor: pointer;

    flex-shrink: 0;

    transition: background-color .3s;

    align-self: center;
}
.mm-notify.filled .mm-notify__callback-btn {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
}

@media screen and (hover: hover) {
    .mm-notify__callback-btn:hover,
    .mm-notify.filled .mm-notify__callback-btn:hover
    {
        background-color: rgba(0, 0, 0, 0.10);
    }
}
@media screen and (max-width: 992px) {
    .mm-notify__callback-btn {
        margin-left: auto;
    }
}

.mm-notify__close {
    padding: 4px;
    display: block;
    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;
}

.mm-notify:not(.has-button) .mm-notify__close {
    margin-left: auto;
}

.mm-notify__close img {
    width: 10px;
    display: block;
    user-select: none;
}

.mm-notify__text-noty {
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    margin-bottom: 5px;
}
.mm-notify__text-noty.error {
    color: var(--peach-color);
}
.mm-notify__text-noty.info {
    color: var(--blue-color);
}
.mm-notify__text-noty.success {
    color: var(--green-color);
}